/* address forms */
.city{
    width:260px !important;
}
.address-form{
    width:400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;   
}
.card-section{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.actual-form{
    padding: 20px;
}

/* payments section */
.card-name{
    width: 100%;
}
.payment-gateway{
    display: block;
    padding: 1% 20%;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:80%;
    position: relative;
    left: 10%;
    border-radius: 5%;
}